{% extends 'form.signup.html.twig' %}
{%block progress_bar %}
{% if mode == 'host' %}
<div class="text-center">
STEP 2 OF 5</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">40%</div>
</div>
{% elseif mode == 'guest' or mode == 'place' %}
<div class="text-center">
STEP 2 OF 4</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
</div>
{% endif %}
{% endblock progress_bar %}
{% block form %}

{% if mode == 'guest' %}
<h5>HOST NAME: {{ group.host.firstname }} {{ group.host.lastname }}</h5>
<h5>HOST DATE: {{ group.startsAt|date("m/d/Y") }}</h5>
<h5>HOST TIME: {{ group.startsAt|date("g A") }}</h5>
<h5>HOST LOCATION: {{ group.host.address.street }}</h5>
<h5>POOL INFO: {{ group.lesson.pool.accessinfo }}</h5>
{% endif %}
{{ form_start(form) }}
<ul id="student_form" class="students" data-prototype="{{ form_widget(form.students.vars.prototype)|e}}">
    {% for student in form.students %}
       <li>
        {{ form_row(student.name )}}
        {{ form_row(student.birthdate )}}
        {{ form_row(student.level)}}
        {{ form_row(student.note )}}
        </li>
    {% endfor %}
</ul>
<ul><li><a class="btn btn-default" href="{{ path('signup_user', {'mode':mode})}}">Prev</a>{{ form_row(form.next) }}</ul></li>
{{ form_end(form) }}
{% endblock form %}

{% block script %}
<script>
    var $collectionHolder;


    jQuery(document).ready(function() {

        // Get the ul that holds the collection of tags
        $collectionHolder = jQuery('#student_form');

        // setup an "add a student" link
        var $addStudentLink = jQuery('<button class="btn btn-default">Add Student</button>');
        var $newLinkLi = jQuery('<li id="add_button"></li>').append($addStudentLink);


        // add a delete link to all of the existing tag form li elements
        $collectionHolder.find('#add_button').each(function() {
            addStudentFormDeleteLink($(this));
        });

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addStudentLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addStudentForm($collectionHolder, $newLinkLi);
        });
    });

    function addStudentForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = jQuery('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);

        // add a delete link to the new form
        addStudentFormDeleteLink($newFormLi);
    }

    function addStudentFormDeleteLink($studentFormLi) {
        var $removeFormA = jQuery('<button class="btn btn-default">Delete Student</button>');
        $studentFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the tag form
            $studentFormLi.remove();
        });
    }
</script>
{% endblock %}
