{% extends 'form.signup.html.twig' %}
{% set signup_for='guest' %}
{%block progress_bar %}
<div class="text-center">STEP 1 OF 4</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">25%</div>
</div>
{% endblock progress_bar %}
{% block form %}
{{ form_start(form) }}
{{ form_row(form.code) }}
<h5><a href="{{ path('signup_placement') }}">Don't have a code? Register for the Placement List</a></h5>
{{ form_row(form.next) }}
{{ form_end(form) }}
{% endblock form %}
